
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body.login-bg {
  font-family: 'Times New Roman', Times, serif;
  background-image: url('../images/login.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form-container {
  background-color: rgba(10, 49, 66, 0.95);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  width: 350px; 
  text-align: center;
  opacity: 0.95;
  color: white;
}

.form-container h2 {
  margin-top: 0;
  margin-bottom: 30px; 
}

body.register-bg {
  font-family: 'Segoe UI', sans-serif;
  background-image: url('../images/login.png'); 
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

.error-msg {
  color: #ff4d4d;
  font-size: 0.7rem;
  font-weight: bold;
  display: block;
  margin-top: -12px; 
  margin-bottom: 10px;
  text-align: left;
  padding-left: 2px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px; 
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

button {
  width: 80%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  background-color: #64748b;
  color: white;
  transition: 0.3s;
}

button:hover {
  background-color: #3b82f6;
}

.form-container p {
  margin-top: 20px;
}

.form-container a {
  color: #3b82f6;
  text-decoration: none;
  font-weight: bold;
}