body {
  font-family: 'Times New Roman', Times, serif;
  background-image: url(images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container h2{
  color: white;
  margin-bottom: 20px;
}
.form-container {
  background: rgb(98, 99, 98);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(8, 8, 8);
  width: 300px;
  text-align: center;
  opacity: 89%;
}

.form-container p{
  color: white;
  margin-top: 15px;
  
}
.form-container a{
  text-decoration: none;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  background-color: #0fd2fd;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #1495ff;
}